<% provide(:title, 'Contact') %>

<% provide :page_intro do %>
  <h2>Let's build something great together</h2>

  <p>Thank you for taking a moment to get in touch with us. We're excited to work with great ideas and enthusiastic people. We're passionate about understanding your project's needs and delivering working software to you. We hope you're excited, too, because you're about to take the first step on a great journey.</p>

  <p>
    Avant-Garde • 4980 W. Lehman Rd. • DeWitt, MI 48820 •
    <%= mail_to 'hello@avant-gardelabs.com' %>
  </p>
<% end %>

<div class='columns medium-6'>
  <ul class="vcard">
    <li class="fn">Mike Eaton</li>
    <li class='title'>Co-Founder, CEO</li>
    <li class='note'>C, C#, Java, JavaScript, VB.net, HTML, CSS</li>
    <li class='adr'>
      <span class="locality">DeWitt</span>,
      <span class="region">Michigan</span>
      <span class="postal-code">48820</span>
    </li>
    <li class='tel'>+1 (517) 862-7974</li>
    <li class="email"><%= mail_to 'mike@avant-gardelabs.com' %></li>
  </ul>

  <ul class="vcard">
    <li class="fn">Joe Sak</li>
    <li class='title'>Co-Founder, Architect</li>
    <li class='note'>Ruby, Javascript, HTML, CSS</li>
    <li class='adr'>
      <span class="locality">Montrèal</span>,
      <span class="region">Quebec</span>
      <span class="postal-code">H2L 3Z9</span>
    </li>
    <li class='tel'>+1 (514) 652-6975</li>
    <li class="email"><%= mail_to 'joe@avant-gardelabs.com' %></li>
    <li class='small note'>(Joe visits Montrèal often as a tourist, and though he is applying for permanent residence, he is <strong>not</strong> authorized to work for Canadian businesses at this time.)</li>
  </ul>
</div>

<div class='columns medium-6'>
  <ul class="vcard">
    <li class="fn">Eric Vogel</li>
    <li class='title'>President, Lead Architect</li>
    <li class='note'>C++, C#, Java, JavaScript</li>
    <li class='adr'>
      <span class="locality">Okemos</span>,
      <span class="region">Michigan</span>
      <span class="postal-code">48864</span>
    </li>
    <li class='tel'>+1 (517) 803-9442</li>
    <li class="email"><%= mail_to 'eric@avant-gardelabs.com' %></li>
  </ul>

  <ul class="vcard">
    <li class="fn">Nicole Eaton</li>
    <li class='title'>Business Analyst, Developer</li>
    <li class='note'>HR, Accounting, Legal, Ruby, HTML, CSS</li>
    <li class='adr'>
      <span class="locality">DeWitt</span>,
      <span class="region">Michigan</span>
      <span class="postal-code">48820</span></li>
    </li>
    <li class='tel'>+1 (517) 862-7396</li>
    <li class="email"><%= mail_to 'nicole@avant-gardelabs.com' %></li>
  </ul>
</div>
