<% provide :page_intro do %>
  <h2 id='subtitle'>Modern software requires a modern company</h2>

  <p>Avant-Garde is a software consulting company comprised of experienced, multi-disciplinary developers who care passionately about the quality of the product and the experience of the customer. Our office culture doesn't do responsibility silos, toxic hierarchy structures, mono-culture, or rigid policy response to mistakes. We're continuous learners, empathetic and thorough thinkers, transparent and reliable communicators, enthusiastic collaborators, and expert product builders.</p>
<% end %>

<div id='skills' class='columns medium-2 border border-right lightgrey border-1'>
  <h3>Skills</h3>

  <ul class='no-bullet'>
    <li>C, C++, C#</li>
    <li>.NET</li>
    <li>Java</li>
    <li>SQL</li>
    <li>Lua</li>
    <li>Ruby</li>
    <li>Javascript</li>
    <li>HTML5, CSS3</li>
  </ul>
</div>

<div id='services' class='columns medium-4 border border-right lightgrey border-1'>
  <h3>Services</h3>

  <ul class='no-bullet'>
    <li>Web, mobile, desktop applications</li>
    <li>Lean Startup MVP</li>
    <li>Agile project management</li>
    <li>SCRUM methodology</li>
    <li>eBusiness consulting</li>
    <li>Responsive web</li>
    <li>Mobile-optimized user experience</li>
    <li>Apprenticeships, mentoring</li>
  </ul>
</div>

<div id='values' class='columns medium-6'>
  <h3>Values</h3>

  <ul class='no-bullet'>
    <li><strong>Get it done.</strong> Do what it takes to achieve exceptional results.</li>
    <li><strong>Embrace change.</strong> Use modern languages and frameworks.</li>
    <li><strong>Work remote.</strong> Live where you want, hire the best in the world.</li>
    <li><strong>Balance work-life.</strong> Manage your time on your own schedule.</li>
    <li><strong>Iterate with Agile.</strong> Adapt to changing priorities.</li>
    <li><strong>Respect flow.</strong> Reduce interruption and micromanagement.</li>
    <li><strong>Ignore titles.</strong> Eliminate unbalanced power dynamics.</li>
    <li><strong>Communicate effectively.</strong> Keep everyone in a tight loop.</li>
  </ul>
</div>

<div class='columns'>
  <h4 id='about'>About us</h4>

  <p>Avant-Garde combines over 35 years of experience, and was founded by two long-time colleagues and friends, Mike Eaton and Joe Sak. Nicole Eaton is our Business Analyst and first apprentice. Our President is Eric Vogel, president of GLUG.net and a contributor to Visual Studio Magazine. We have two more apprentices, Ben and Dylan. Officially, we are headquartered in the Greater Lansing area of Michigan, but we embrace remote work.</p>
</div>

<div class='columns medium-4 headshot text-center'>
  <%= image_tag 'headshots/mike-350-40.jpg' %>
  <h4>Michael R. Eaton</h4>
  CEO, Co-founder, Software Architect
</div>

<div class='columns medium-4 headshot text-center'>
  <%= image_tag 'headshots/joe-350-40.jpg' %>
  <h4>Joe M. Sak</h4>
  Co-founder, Software Architect
</div>

<div class='columns medium-4 headshot text-center'>
  <%= image_tag 'headshots/eric-350-40.jpg' %>
  <h4>Eric Vogel</h4>
  President, Lead Architect
</div>

<div class='clearfix'></div>

<div class='columns medium-6 headshot text-center'>
  <%= image_tag 'headshots/nicole-350-40.jpg' %>
  <h4>Nicole Eaton</h4>
  Business Analyst, Developer
</div>

<div class='columns medium-6 headshot text-center'>
  <%= image_tag 'headshots/ben-350-40.jpg' %>
  <h4>Ben Ploehn</h4>
  Apprentice
</div>

<div class='columns'>
  <p>Avant-Garde's mission is to be the best software company to work with, and to work for. Say <%= mail_to 'hello@avant-gardelabs.com' %> today.</p>
</div>
