<% provide(:title, 'Portfolio') %>

<div class='columns'>
  <h2>User-focused design, clean code, working software</h2>

  <p>Avant-Garde is brand new. Therefore, this page may feel a little light. However, we have over 35 years of combined professional experience. We've worked with startups, enterprise, small business, ecommerce, marketing, professional associations, universities, city and state governments, and more.</p>
</div>

<div class='columns small-4'>
  <h4>Mike</h4>
  <ul class='no-bullet'>
    <li><%= link_to 'LinkedIn', 'https://www.linkedin.com/pub/michael-r-eaton/7/755/a75' %></li>
    <li><%= link_to 'Résumé', '/resumes/mike.pdf' %></li>
    <li><%= link_to 'Codeplex', 'https://www.codeplex.com/site/users/view/1badprogrammer' %></li>
  </ul>
</div>

<div class='columns small-4'>
  <h4>Joe</h4>
  <ul class='no-bullet'>
    <li><%= link_to 'joesak.com', 'http://joesak.com' %></li>
    <li><%= link_to 'LinkedIn', 'https://www.linkedin.com/pub/joe-sak/b5/679/a8a' %></li>
    <li><%= link_to 'Résumé', '/resumes/joe.pdf' %></li>
    <li><%= link_to 'Github', 'http://github.com/joemsak' %></li>
    <li><%= link_to 'Stack Overflow', 'http://stackoverflow.com/users/727977/hubble' %></li>
  </ul>
</div>

<div class='columns small-4'>
  <h4>Eric</h4>
  <ul class='no-bullet'>
    <li><%= link_to 'ericvogel.com', 'http://ericvogel.com' %></li>
    <li><%= link_to 'LinkedIn', 'https://www.linkedin.com/pub/eric-vogel/0/b62/1b6' %></li>
    <li><%= link_to 'Résumé', 'http://ericvogel.com/Resume.pdf' %></li>
    <li><%= link_to 'Visual Studio Magazine', 'https://www.linkedin.com/pub/eric-vogel/0/b62/1b6#background-publications' %></li>
    <li><%= link_to 'Github', 'http://github.com/vogelvision' %></li>
    <li><%= link_to 'Codeplex', 'https://www.codeplex.com/site/users/view/vogeleric' %></li>
  </ul>
</div>

<div class='clearfix'>
  <div class='portfolio-piece columns medium-6'>
    <%= link_to image_tag('portfolio/laurenmiller.png'), 'http://www.chicagotherapynow.com' %>

    <p>The website for Dr. Lauren Miller, PsyD of Chicago. Training in neuropsychology has fostered an ongoing interest in working with trauma and chronic illness in the family context. Eating disorders are an area of expertise, and Dr. Miller works often with this population as a team member, along with a psychiatrist, internist, and dietician. As trauma histories are often seen in conjunction with eating disorders and/or chronic illness, Dr. Miller has pursued ongoing training in trauma and recovery treatment.</p>

    <p>Design by Elaine Chernov <%= link_to 'http://elainechernov.com/' %></p>
  </div>

  <div class='portfolio-piece columns medium-6'>
    <%= link_to image_tag('portfolio/clfu.jpg'), 'http://www.commandlinefu.com' %>

    <p>commandlinefu.com is the place to record those command-line gems that you return to again and again. Delete that bloated snippets file you've been using and share your personal repository with the world. That way others can gain from your CLI wisdom and you from theirs too. All commands can be commented on, discussed and voted up or down.</p>

    <p>Redesign in progress by ScriptRock <%= link_to 'http://scriptrock.com' %></p>
  </div>
</div>

<div class='portfolio-piece columns medium-4'>
  <%= link_to image_tag('portfolio/rice-ostx.png'), 'http://www.openstaxcollege.org/about' %>

  <p>OpenStax College is a nonprofit organization committed to improving student access to quality learning materials. Their free textbooks are developed and peer-reviewed by educators to ensure they are readable, accurate, and meet the scope and sequence requirements of college courses.</p>
</div>

<div class='portfolio-piece columns medium-4'>
  <%= link_to image_tag('portfolio/greenstone-logo.png'), 'http://www.greenstonefcs.com/overview/' %>

  <p>GreenStone Farm Credit Services is one of America’s largest rural lenders. Headquartered in East Lansing, Michigan, GreenStone is the country's sixth largest association in the Farm Credit System. They are a $7.3 billion organization of more than 23,000 members with 36 branches throughout Michigan and northeast Wisconsin.</p>
</div>

<div class='portfolio-piece columns medium-4'>
  <%= link_to image_tag('portfolio/RMCLogo.png'), 'http://www.rmcagency.com/' %>

  <p>Our GreenStone FCS contract is through the RMC Agency. Thank you RMC for bringing Avant-Garde a wonderful client! Recruitment Management Consultants (RMC) is a Michigan based, full-service Information Technology (IT) Consulting and Placement agency. The company offers highly experienced recruiting and account management professionals with the ability to service the diverse needs of Michigan companies seeking to employ top technical talent within the region - specializing in Applications, Infrastructure, and Communications expertise.</p>
</div>
