<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= browser_title %></title></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header class='row'>
      <%= link_to image_tag('avant-garde-logo-white.png'),
                  root_path,
                  class: 'left',
                  id: 'logo' %>

      <nav id='main_nav' class='right'>
        <%= link_to 'About',
                    root_path,
                    class: 'text-link ' + active_if_selected(root_path) %>

        <%= link_to 'Portfolio',
                    portfolio_path,
                    class: 'text-link ' + active_if_selected(portfolio_path) %>

        <%= link_to 'Contact',
                    contact_path,
                    class: 'text-link ' + active_if_selected(contact_path) %>
      </nav>
    </header>

    <div id='content' class='row'>
      <%= yield %>
    </div>

  </body>
</html>
