<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= browser_title %></title></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav id='main_nav' class='row clearfix'>
      <span id='logo'>Avant-Garde</span>
      <%= link_to 'About', root_path, class: active_if_selected(root_path) %>
      <%= link_to 'Portfolio', portfolio_path, class: active_if_selected(portfolio_path) %>
      <%= link_to 'Contact', contact_path, class: active_if_selected(contact_path) %>
    </nav>

    <div class='row'>
      <h1 id='title'><%= yield(:title) %></h1>
    </div>

    <%= yield %>

  </body>
</html>
